

.search {
   position: absolute;
   display: flex;
    align-items: center;
right: 40px;
    text-align: center;
  }
  
  .search__input {
    
  position: stickyx;

    margin-top: -120px;
    right: 200px;
    font-family: inherit;
    font-size: 15px;
    background-color: #fdf5f5;
    border: none;
    color: #0d0d0d;
    padding: 2rem 4rem;
    border-radius: 30px;
    width: 26em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #302f2f;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #100f0f;
  }
  
  .search__input:focus + .search__button {
    background-color: #252424;
  }
  
  .search__button {
    border: none;
    background-color: #141313;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }