body{
    background-image: url('images/pro.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

form{
    border: 1px solid red;
}
.box h3{
  border-radius: 10px;
background-color: tomato;
}
.container{
    background-color: transpar;
}
.box{
    background-color: transparent;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.box img{
    width: 300px;
    height: 100px;
}

.box .price{
    color: black;
}
.box:hover{
    transform: scale(1.1);
    border: 2px solid greenyellow;
}